<div class="filters form-container mb-4">
    <h4>Filter Exercises</h4>
    <form id="filters-form" class="row gy-3 gx-3">
        {% for filter_name, filter_options in filters.items() %}
        <div class="col-md-4">
            <label for="{{ filter_name }}" class="form-label">
                {{ filter_name }}
            </label>
            <select id="{{ filter_name }}" name="{{ filter_name }}" class="form-select">
                <option value="">All</option>
                {% for option in filter_options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
        <div class="col-12 mt-3 d-flex justify-content-center">
            <button type="submit" id="apply-filters-btn" class="btn btn-primary">Apply Filters</button>
            <button type="button" id="clear-filters-btn" class="btn">Clear Filters</button>
        </div>
    </form>
</div>