<h3>Your Workout Plan</h3>
<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Routine</th>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Min Rep Range</th>
                <th>Max Rep Range</th>
                <th>RIR</th>
                <th>Weight</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="workout-plan-table-body">
            <!-- Rows will be dynamically populated by JavaScript -->
        </tbody>
    </table>
</div>
